# Dependencies
node_modules/
frontend/node_modules/

# Python
backend/venv/
backend/__pycache__/
*.pyc

# Environment
.env
backend/.env
frontend/.env

# Build
frontend/dist/

# Database
*.db

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
